root = true

[*]
max_line_length = 120
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
max_line_length = 0

[*.json]
insert_final_newline = false
