name: Deploy

on:
  workflow_call:
    inputs:
      accounts-file:
        description: 'Path to the accounts file'
        required: true
        default: './accounts.json'
        type: string
      account:
        description: 'Account to deploy to'
        required: true
        type: string
      terragrunt-version:
        description: 'Terragrunt version to use'
        required: true
        default: '0.67.9'
        type: string
      opentofu-version:
        description: 'Opentofu version to use'
        required: true
        default: '1.8.2'
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deploy
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          token: ${{ secrets.INFRASTRUCTURE_PRIVATE_PAT }}
          submodules: 'true'

      - name: Extract Account Info
        uses: ./.github/actions/extract-account-info
        with:
          accounts-file: ${{ inputs.accounts-file }}
          account: ${{ inputs.account }}

      - name: Install Dependencies
        uses: ./.github/actions/setup-terragrunt
        with:
          terragrunt-version: ${{ inputs.terragrunt-version }}
          opentofu-version: ${{ inputs.opentofu-version }}
          ssh-private-key: ${{ secrets.TERRAFORM_MODULES_PRIVATE_KEY }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
          role-session-name: ${{ github.actor }}-${{ inputs.account }}-${{ github.run_id }}

      # - name: Assume Role
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     aws-region: ${{ vars.AWS_REGION }}
      #     role-to-assume: ${{ steps.extract-information.outputs.account }}
      #     role-session-name: ${{ github.actor }}-${{ inputs.account }}-${{ github.run_id }}
      #     role-chaining: true

      - name: Init
        working-directory: ${{ inputs.account }}
        run: terragrunt run-all init

      - name: Download Plan
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.account }}-tfplan

      - name: Display Plan
        working-directory: ${{ inputs.account }}
        run: terragrunt run-all show --terragrunt-out-dir $(pwd)

      - name: Apply
        working-directory: ${{ inputs.account }}
        run: terragrunt run-all apply --terragrunt-no-auto-init --terragrunt-out-dir $(pwd) --terragrunt-non-interactive
