name: Infrastructure

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Dependencies
        env:
          TERRAGRUNT_VERSION: 0.67.9
          OPENTOFU_VERSION: 1.8.2
        run: |
          sudo mkdir -p /usr/local/bin
          curl -sSfL -o /tmp/terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/v${TERRAGRUNT_VERSION}/terragrunt_linux_amd64
          sudo install -c -m 0755 /tmp/terragrunt /usr/local/bin
          curl -sSfL -o /tmp/opentofu.tar.gz https://github.com/opentofu/opentofu/releases/download/v${OPENTOFU_VERSION}/tofu_${OPENTOFU_VERSION}_linux_amd64.tar.gz
          tar -xzf /tmp/opentofu.tar.gz -C /tmp
          sudo install -c -m 0755 /tmp/tofu /usr/local/bin

      - name: Check Formatting
        working-directory: ${{ steps.extract-information.outputs.account }}
        run: |
          terragrunt hclfmt --teragrunt-check
