name: Infrastructure

on:
  pull_request:
    branches:
      - main

env:
  TERRAGRUNT_VERSION: 0.67.9
  OPENTOFU_VERSION: 1.8.2

jobs:
  check:
    runs-on: ubuntu-latest
    if: false
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Dependencies
        uses: ./.github/actions/setup-terragrunt
        with:
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          opentofu-version: ${{ env.OPENTOFU_VERSION }}

      - name: Check Formatting
        working-directory: ${{ steps.extract-information.outputs.account }}
        run: |
          terragrunt hclfmt --teragrunt-check

  plan-and-deploy:
    uses: ./.github/workflows/_plan-and-deploy.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        account: ["management"]
    with:
      accounts-file: ./_private/accounts.json
      account: ${{ matrix.account }}
      # is_deploy: ${{ github.event_name != 'pull_request' && github.ref == 'refs/heads/main' }}
      is_deploy: ${{ github.event_name == 'pull_request' }}
      terragrunt-version: 0.67.9
      opentofu-version: 1.8.2
